
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
:root{
  --heading_color: ;
  --white-color:#fff;
  /* --primary-color:  #F47A20; */
  --primary-color:  #827cdc;
  --secondary-color: #fe9705;
  --blue-color:#165696;
  /* --secondary-color: #133cbd; */
  /* --tertiary-color: #12b981 ; */
  --black-color:#000 ;
  --font-family1: 'Roboto', sans-serif;
  --font-family2: 'Rajdhani', sans-serif;
}
body{
  font-family: var(--font-fam2);
}
p{
  padding: 0px;
  margin: 0px;
}
h1,h2,h3,h4,h5,h6{

}
h1,.h1{
  
}
h2,.h2{

}
h3,.h3{

}
h4,.h4{

}
h5,.h5{

}
h6,.h6{

}
ul{
  padding: 0;
  margin: 0;
}
li{
  list-style-type: none;
}
a{
  color: var(--tertiary-color) !important;
}
@media only screen and (min-width:320px) and (max-width:480px){
  
}
@media only screen and (min-width:481px) and (max-width:768px){

}
@media only screen and (min-width:769px) and (max-width:1024px){

}
@media only screen and (min-width:1025px) and (max-width:1200px){

}
.header-main{
  text-align: center;
  background-color: var(--primary-color);
  padding: 18px 0;
  color: var(--white-color);
}
.main-body{
  height:786px;
  /* background-image: url('./Assests/back.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover; */
}
.main-depart{
  background-color: var(--secondary-color);
  color: var(--white-color);
  padding: 36px;
}
.main-depart ul{
padding: 0px !important;
}
.login-card{
background-color: var(--primary-color);
padding: 64px;
line-height: 2;
border-radius: 8px;
position: relative;
opacity: 80%;
text-align: center;
font-family: var(--font-family2);
border: none !important;
}
.login-card h2{
  color: var(--white-color);
  font-size:26px;
  font-weight: bold;
  margin: 8px 0; 
}
.login-input{
  padding: 0px 26px;
  border-radius: 8px;
  margin-bottom: 16px;
  height: 36px;
  font-weight: bold;
  border:none !important;
}
/* .login-input:focus{
  outline: none;
} */
.btn-main{
  text-align: center;
}
.btn-main button{
  border: none;
  font-weight: bold;
  padding: 0px 26px;
  border-radius: 8px;
}
.btn-main button:hover{
  background-color: var(--blue-color) !important;
  color: var(--white-color);
}
.eye-position{
  position: absolute;
  top: 62%;
  left: 74%;
  font-size: 12px;
}
.img-main{

}
.img-main img{
  height: 60px;
  border-radius: 8px;
}