
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Jua&display=swap');

:root{
  --heading_color: ;
  --white-color:#fff;
  /* --primary-color:  #F47A20; */
  --primary-color:  #827cdc;
  --secondary-color: #fe9705;
  /* --secondary-color: #133cbd; */
  /* --tertiary-color: #12b981 ; */
  --black-color:#000 ;
  --font-fam1: 'Alata', sans-serif;
  --font-fam2: 'Jua', sans-serif;
}
body{
  font-family: var(--font-fam2);
}
p{
  padding: 0px;
  margin: 0px;
}
h1,h2,h3,h4,h5,h6{

}
h1,.h1{
  
}
h2,.h2{

}
h3,.h3{

}
h4,.h4{

}
h5,.h5{

}
h6,.h6{

}
ul{
  padding: 0;
  margin: 0;
}
li{
  list-style-type: none;
}
a{
  color: var(--tertiary-color) !important;
}
@media only screen and (min-width:320px) and (max-width:480px){
  
}
@media only screen and (min-width:481px) and (max-width:768px){

}
@media only screen and (min-width:769px) and (max-width:1024px){

}
@media only screen and (min-width:1025px) and (max-width:1200px){

}
.header-main{
  text-align: center;
  background-color: var(--primary-color);
  padding: 18px 0;
  color: var(--white-color);
}
.main-body{
  height:786px;
  /* background-image: url('./Assests/back.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover; */
}
.main-depart{
  background-color: var(--secondary-color);
  color: var(--white-color);
  padding: 36px;
}
.main-depart ul{
padding: 0px !important;
}